@import "../shyle";

.shyle-modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
    &.shyle-modal-open {
        display: block;
    }

    .shyle-modal-dialog {
        position: relative;
        margin: 10% auto;
        max-width: 500px;
        background: #fff;
        padding: 1rem;
        border-radius: 0.3rem;
    }

    .shyle-modal-close {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
