@import "../utilities";

.shy-btn {
  background-color: $shy-color-primary;
  border: none;
  color: $shy-color-light;
  padding-block: calc(var(--shy-responsive-unit) * 0.25);
  padding-inline: calc(var(--shy-responsive-unit) * 0.55);
  border-radius: calc(var(--shy-responsive-unit) * 0.2);
  text-align: center;
  font-size: calc(var(--shy-responsive-unit) * 0.6);
  cursor: pointer;
  font-weight: 600;
  @include allVendors(transition, filter 0.2s);

  &:hover {
    filter: brightness(1.1);
  }
}
