@import "../utils";

.shy-tooltip {
  position: absolute;
  background-color: $shy-color-dark;
  color: $shy-color-light;
  padding: calc(var(--shy-responsive-unit) * 0.3);
  border-radius: calc(var(--shy-responsive-unit) * 0.2);
  font-size: calc(var(--shy-responsive-unit) * 0.5);
  z-index: 1060;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;

  &.shy-tooltip-top,
  &.shy-tooltip-bottom,
  &.shy-tooltip-left,
  &.shy-tooltip-right {
    opacity: 1;
  }

  &.shy-tooltip-top {
    transform: translateY(calc(var(--shy-responsive-unit) * 0.125));
  }

  &.shy-tooltip-bottom {
    transform: translateY(calc(var(--shy-responsive-unit) * -0.125));
  }

  &.shy-tooltip-left {
    transform: translateX(calc(var(--shy-responsive-unit) * 0.125));
  }

  &.shy-tooltip-right {
    transform: translateX(calc(var(--shy-responsive-unit) * -0.125));
  }
}
