@import "../utils/";

.shy-fs-1 {
  font-size: calc(var(--shy-responsive-unit) * 3.5);

  // @include breakpoint(sm) {
  //   font-size: calc(var(--shy-responsive-unit) * 3.5);
  // }

  // @include breakpoint(md) {
  //   font-size: calc(var(--shy-responsive-unit) * 3.5);
  // }

  // @include breakpoint(lg) {
  //   font-size: calc(var(--shy-responsive-unit) * 3.5);
  // }

  // @include breakpoint(xl) {
  //   font-size: calc(var(--shy-responsive-unit) * 3.5);
  // }

  // @include breakpoint(xxl) {
  //   font-size: calc(var(--shy-responsive-unit) * 3.5);
  // }
}

.shy-fs-2 {
  font-size: calc(var(--shy-responsive-unit) * 3);
}

.shy-fs-3 {
  font-size: calc(var(--shy-responsive-unit) * 2.5);
}

.shy-fs-4 {
  font-size: calc(var(--shy-responsive-unit) * 2);
}

.shy-fs-5 {
  font-size: calc(var(--shy-responsive-unit) * 1.5);
}

.shy-fs-6 {
  font-size: calc(var(--shy-responsive-unit) * 1);
}
