@import "../utilities";

.shy-txt-primary {
  color: $shy-color-primary !important;
}

.shy-txt-secondary {
  color: $shy-color-secondary !important;
}

.shy-txt-tertiary {
  color: $shy-color-tertiary !important;
}

.shy-txt-light {
  color: $shy-color-light !important;
}

.shy-txt-medium {
  color: $shy-color-medium !important;
}

.shy-txt-dark {
  color: $shy-color-dark !important;
}

.shy-txt-success {
  color: $shy-color-success !important;
}

.shy-txt-warning {
  color: $shy-color-warning !important;
}

.shy-txt-danger {
  color: $shy-color-danger !important;
}

.shy-txt-info {
  color: $shy-color-info !important;
}

.shy-bg-primary {
  background-color: $shy-color-primary !important;
}

.shy-bg-secondary {
  background-color: $shy-color-secondary !important;
}

.shy-bg-tertiary {
  background-color: $shy-color-tertiary !important;
}

.shy-bg-light {
  background-color: $shy-color-light !important;
}

.shy-bg-medium {
  background-color: $shy-color-medium !important;
}

.shy-bg-dark {
  background-color: $shy-color-dark !important;
}

.shy-bg-success {
  background-color: $shy-color-success !important;
}

.shy-bg-warning {
  background-color: $shy-color-warning !important;
}

.shy-bg-danger {
  background-color: $shy-color-danger !important;
}

.shy-bg-info {
  background-color: $shy-color-info !important;
}

.shy-txt-bg-primary {
  color: $shy-color-light !important;
  background-color: $shy-color-primary !important;
}

.shy-txt-bg-secondary {
  color: $shy-color-light !important;
  background-color: $shy-color-secondary !important;
}

.shy-txt-bg-tertiary {
  color: $shy-color-light !important;
  background-color: $shy-color-tertiary !important;
}

.shy-txt-bg-light {
  color: $shy-color-dark !important;
  background-color: $shy-color-light !important;
}

.shy-txt-bg-medium {
  color: $shy-color-light !important;
  background-color: $shy-color-medium !important;
}

.shy-txt-bg-dark {
  color: $shy-color-light !important;
  background-color: $shy-color-dark !important;
}

.shy-txt-bg-success {
  color: $shy-color-light !important;
  background-color: $shy-color-success !important;
}

.shy-txt-bg-warning {
  color: $shy-color-dark !important;
  background-color: $shy-color-warning !important;
}

.shy-txt-bg-danger {
  color: $shy-color-light !important;
  background-color: $shy-color-danger !important;
}

.shy-txt-bg-info {
  color: $shy-color-light !important;
  background-color: $shy-color-info !important;
}

.shy-border-primary {
  border-color: $shy-color-primary !important;
}

.shy-border-secondary {
  border-color: $shy-color-secondary !important;
}

.shy-border-tertiary {
  border-color: $shy-color-tertiary !important;
}

.shy-border-light {
  border-color: $shy-color-light !important;
}

.shy-border-medium {
  border-color: $shy-color-medium !important;
}

.shy-border-dark {
  border-color: $shy-color-dark !important;
}

.shy-border-success {
  border-color: $shy-color-success !important;
}

.shy-border-warning {
  border-color: $shy-color-warning !important;
}

.shy-border-danger {
  border-color: $shy-color-danger !important;
}

.shy-border-info {
  border-color: $shy-color-info !important;
}
